<section class="section-footer">
  <div class="container footer">
    <div class="footer-nav-wrapper">
      <ul class="footer-nav">
        <li class="footer-desc">
          <a class="footer-link" href="../privacy.html" target="_blank"
            >Privacy Policy</a
          >
        </li>
        <span class="footer-span">/</span>
        <li class="footer-desc">
          <a class="footer-link" href="../terms.html" target="_blank"
            >Terms & Conditions
          </a>
        </li>
        <span class="footer-span">/</span>
        <li class="footer-desc">
          <a class="footer-link" href="../cookies.html" target="_blank"
            >Cookies Policy</a
          >
        </li>
      </ul>
    </div>
    <div class="domen-wrapper">
      <p class="domen">© 2025 glowdynastysaga.com – All rights reserved.</p>
    </div>
  </div>
</section>
