<div class="mob-menu-overlay" data-visible="close">
  <div class="mob-menu-container">
    <button class="mob-menu-close-btn" type="button" data-action="close">
      <svg class="mob-menu-close-icon" width="14" height="14">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#home">Home</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#about">About the game</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#how-to-play">How to play</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#features">Game features</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#characters">Main characters</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#atmosphere">Game atmosphere</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#reviews">Reviews</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
