:root {
  --font-family: 'Lora', sans-serif;
  --second-family: 'Cinzel', sans-serif;
  --third-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, sans-serif;

  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  color: #fffffd;
  background-color: #182223;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.section {
  margin-bottom: 40px;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 20px;
  }

  .section {
  margin-bottom: 80px;
}
}
