.char-title {
  font-weight: 700;
  font-size: 20px;
  font-family: var(--second-family);
  color: #fffffd;
  text-align: center;
  margin-bottom: 24px;
}
.char-list {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 4px 0;
  margin: 0 auto;
}
.char-img {
  width: 197px;
}
.char-item {
  width: 197px;
  height: 301px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.char-item-title {
  font-weight: 700;
  font-size: 18px;
  font-family: var(--second-family);
  width: 197px;
  height: 24px;
  text-align: center;
}
.char-item-content {
  font-weight: 500;
  font-size: 12px;
  width: 193px;
  height: 35px;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .char-title {
    font-size: 32px;
  }
  .char-list {
    width: 1040px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 112px;
    padding: 0;
    justify-content: center;
  }
  .char-item {
    width: 209px;
    height: 301px;
    gap: 12px;
  }
  .char-item-title {
    font-size: 24px;
    width: 209px;
    height: 24px;
  }
  .wide-card {
    width: 267px;
  }
  .wide-card .char-item-title {
    width: 267px;
  }
  .char-item-content {
    font-size: 16px;
  }
}
