.section-footer {
  width: 100%;
  background-color: #0c0f10;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  width: 292px;
  gap: 4px;
  padding-bottom: 7px;
}

.footer-desc {
  text-align: center;
}
.footer-link {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #fffffd;
}

.footer-link:hover,
.footer-link:focus {
  color: #979797;
  transition: 200ms ease;
}

.footer-span {
  display: none;
}

.domen-wrapper {
  width: 292px;
  height: 21px;
  padding-top: 8px;
  text-align: center;
}
.domen {
  font-weight: 500;
  font-size: 10px;
  color: #fffffd;
}

@media only screen and (min-width: 1200px) {
  .footer {
    padding-top: 29px;
    background-color: #0c0f10;
  }
  .footer-nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 16px;
  }
  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 546px;
    margin-right: 80px;
  }
  .footer-link {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
  }
  .footer-span {
    display: block;
  }
  .domen-wrapper {
    width: 307px;
    height: 31px;
    margin-bottom: 13px;
  }
  .domen {
    font-weight: 700;
    font-size: 12px;
  }
}
